<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.communityblog.mapper.AdminMapper">

    <select id="getUserInfoByCond" resultType="com.communityblog.pojo.Admin">
        SELECT  admin_name,password,id
        FROM blog_admin
        <where>
            <if test="adminName != null">
                AND admin_name = #{adminName}
            </if>
            <if test="password != null">
                AND password = #{password}
            </if>
        </where>
    </select>
</mapper>